# Maven target folder
/target/

# Compiled Java classes
*.class

# JAR files
*.jar

# IDE files
*.iml
/.idea/
/.vscode/

# OS files
.DS_Store

# Application properties (if it contains credentials)
/backend/src/main/resources/application.properties

# Dashboard
/dashboard/node_modules
/dashboard/dist
/dashboard/.env
